:root {
  --color-slate-500: #002939;
  --color-slate-400: #405158;
  --color-slate-300: #b5bec1;
  --color-slate-200: #ebeeef;
  --color-slate-100: #fefdfd;

  --color-red: #d80d0d;
  --color-red-light: #e4002b;

  --color-blue: #006b99;
  --color-blue-light: #41b6e6;
  --color-blue-lighter: #e9f7ff;
}
