{# Nested Components ------------------------------------------------------------------------------------------------------------------- #}

{% from "snippets/loopAttrs.njk" import loopAttrs %}
{% from "components/button.njk" import button %}

{# Macro ------------------------------------------------------------------------------------------------------------------------------- #}

{% macro toTopFab(props={}, attrs={}) %}

{# Values ----------- #}

{% set themeStyles = "print:hidden" %}

{# ------------------ #}

<div
    x-cloak
    x-show="hasScrolled"
    x-transition:enter-start="translate-y-4 opacity-0"
    x-transition:leave-end="-translate-y-2 opacity-0"
    {{ loopAttrs(attrs) }}
    class="fixed z-(--z-top-elevated) bottom-sm right-sm transition duration-300 {{ attrs.class }} {{ themeStyles }}">
    {{ button({icon:"vertical_align_top",type:"button", size:"fab", variant:"outline", tooltip:"Scroll to top"},{"@click": "window.scrollTo({top: 0})"}) }}
</div>

{% endmacro %}

{# Component Documentation ------------------------------------------------------------------------------------------------------------- #}

{% set toTopFabMeta = {
    args: '{% call toTopFab(
    props={
        input: "",
    },
    attrs={}
) %}
{% endcall %}',
description: "
-
-
-
"
} %}
